@import "bootstrap/scss/bootstrap";

:root {

	--xs: 0;
	--sm: 576px;
	--md: 768px;
	--lg: 992px;
	--xl: 1200px;
	--xxl: 1400px;
}

* {

	position: relative;
	min-width: 0;
}

html {

	min-height: 100dvh;
}

body {

	min-height: 100dvh;
}

#__nuxt {

	min-height: 100vh;
	display: flex;
	flex-direction: column;
}